.breadcrumbs-wrapper {
    display: flex;
    // margin-left: 1rem;

    & > .path {
        transform: skew(20deg);
        font-style: italic;
        font-size: 18px;
        color: #1f1f1f;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;    
    }
        
}
