.breadcrumbs-wrapper {
    display: flex;

    & > .path {
        transform: skew(20deg);
        font-style: italic;
        font-size: rem(18px);
        color: $clrBlack;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;    

        & >span {
            color: $clrWhite;
            font-size: rem(28px);
        }
    }
        
}
