.cr-list-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  overflow-y: auto;
  min-height: 700px;
  max-height: 700px;

  .wrapper-margin {
    margin-right: 1rem;
  }

  .cr-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $clrBlackTrans;
    margin-bottom: 0.5rem;
    min-height: 55px;
    padding: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: $clrYellowlight;
      color: $clrBlack;
      transition: all 0.5s ease-in-out;
    }

    .list-item-field {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}

.cr-list-header {
  display: flex;
  padding: 0 1rem;
  background-color: $clrLightgreen;
  min-height: 50px;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;

  & > .list-header-item {
    width: 100%;
    color: $clrBlack;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: rem(20px);
    cursor: pointer;

    &:hover {
      font-weight: 600;
      background-color: $clrRedish;
      transition: 0.2s ease-in-out;
    }
  }
}
