.project-tasks {
  h4 {
    font-weight: 600;
    color: $clrBluesoft;
  }
}
.dashboard-tasks {
  display: flex;
  flex-direction: column;
  max-height: 420px;
  overflow-y: auto;
  width: 320px;

  .task-preview-wrapper {
    display: flex;
    width: 300px;
    // background-color: $clrBlackTrans;
    margin-bottom: 0.5rem;
    min-height: 50px;
    // border: 1px solid rgb(0, 217, 255);

    .checkbox {
      width: 10px;

      // background-color: rgb(0, 217, 255);
    }

    .title {
      color: $clrWhite;
      padding: 0.5rem;
      align-self: center;
    }
  }
}
