.header-navbar-wrapper {
    display: flex;
    gap: 0.5rem;
    margin-inline-end: 0.5rem;

    .svg {
        fill: $clrOrange;
    }

    ul {
        display: flex;
        gap:1rem;
        
        
    }
    li {
        display: flex;
        gap: 0.2rem;
        align-items: center;
        color: $clrWhite;
        cursor: pointer;
        

        & > span {
            font-size: rem(18px);
        }
    }
}
