.project-bar{
    display: grid;
    // justify-items: end;
    align-items: end;
    padding: 1rem;
    column-gap: 0.5rem;
    grid-template-columns:
        1fr
        minmax(auto, auto);
       
}