.project-list-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-right: 1rem;
    overflow-y: auto;
    max-height: 550px;

    .project-list-item {
        background-color: #1b1b1b;
        // border: 1px solid #ffd166;
        margin-bottom: 0.5rem;
        min-height: 80px;
        padding: 0.5rem;

        &:hover{
            background-color: #ffd166d8;
            transition:all .5s ease-in-out;
        }
    }

}

.project-list-header{
    display: flex;
    padding: 0.5rem;
    // width: 100%;
    background-color:#06d6a0 ;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;

    & > .list-header-item{
        height: 80px;
        width: 100%;
        color: black;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;

    }
}