.project-header-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  .header-wrapper-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .projects-header-logo {
      min-width: 200px;
      max-width: 300px;

      & > img {
        object-fit: contain;
      }
    }

    .project-header-side {
      display: flex;

      & > input {
        margin-right: 1rem;
        width: 250px;
        max-height: 45px;
        transition: 0.2s;

        &:focus {
          width: 300px;
          transition: 0.2s;
        }
      }
    }
  }
  .header-wrapper-bottom {
    margin-top: 2.5rem;
  }
}
