.project-list-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-right: 1rem;
    overflow-y: auto;
    max-height: 550px;


    .project-list-item {
        background-color: $clrBlackExtra;
        margin-bottom: 0.5rem;
        min-height: 80px;
        padding: 0.5rem;
        cursor: pointer;

        &:hover{
            background-color: $clrYellowlight;
            color: $clrBlack;
            transition:all .5s ease-in-out;
        }
    }

}

.project-list-header{
    display: flex;
    padding:0 0.5rem;
    background-color:$clrLightgreen ;
    min-height: 50px;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;

    & > .list-header-item{
        width: 100%;
        color: $clrBlack;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: rem(20px);
        cursor: pointer;

        &:hover {
            font-weight: 600;
            background-color: $clrRedish;
            transition:.2s ease-in-out;
         
        }

    }
}