.project-file-wrapper{
    .svg{
        fill: #ffd166;
        width: 65px;
        height: 65px;
        display: flex;
        align-items: center;

        &:hover{
           fill: $mainclr1; 
        }
    }
}