.project-add-wrapper{
    .svg{
        fill: $clrYellowlight;
        width: 65px;
        height: 65px;
        display: flex;
        align-items: center;

        &:hover{
           fill: $clrLightgreen; 
        }
    }
}