.project-header-wrapper {
    display: flex;
    padding: 0.5rem;
    margin-bottom: 2.5rem;
    justify-content: space-between;
    align-items: center;

    .projects-header-logo {
        max-width: 300px;

        & > img {
            object-fit: contain;
        }
    }

    .project-header-side {
        display: flex; 

        & > input {
            margin-right: 0.5rem;
            width: 250px;
            max-height: 45px;
            transition: 0.2s;

            &:focus {
                width: 300px;
                transition: 0.2s;
            }
        }
    }
}
