.app-general {
    height: calc(100vh);
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: inherit;
}

.app-general::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 3000px rgba(12, 12, 12, 0.972);
    filter: blur(15px);
    background: inherit;
    margin: -20px;
}
