// Colors
$clr1: #f5f5f5;
$mainclr1:#00ffba;
$headernavclr:#00ffba;

$inputclr:#ffb703;
$inputTextclr:#f4a261;


//Default background color 
$bgrclr1:#023047;


// Breakpoints
$mobile-breakpoint: 475px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;