// Colors
$clrWhite: #f5f5f5;
$clrLightgreen: #00ffba;
$clrOrange: #fb8500;
$clrGold: #ffb703;
$clrGoldalpha: #f4a261;
$clrYellowlight: #ffd166;
$clrRedish: #ef476f;
$clrBluesoft: rgb(0, 234, 255);
$clrBlack: #1f1f1f;
$clrBlackExtra: #1b1b1b;
$clrBlackTrans: #00000062;

//Default background color
$bgrclr1: #1f1f1f;

//Buttons

$primary: rgb(0, 140, 255);
$primaryHover: rgb(0, 68, 255);

$danger: rgb(255, 87, 87);
$dangerHover: rgb(255, 55, 55);

// Breakpoints
$mobile-breakpoint: 475px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
